annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
-e git+https://github.com/SammySuliman/LinguaSwitch.git@2e29786cb74bc72530076befce1eb248d06722ac#egg=bilingual_bot&subdirectory=linguaswitch\apps\api
build==1.5.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
docutils==0.23
fastapi==0.136.3
h11==0.16.0
httptools==0.8.0
id==1.6.1
idna==3.18
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
joblib==1.5.3
keyring==25.7.0
markdown-it-py==4.2.0
mdurl==0.1.2
more-itertools==11.1.0
narwhals==2.22.1
nh3==0.3.5
numpy==2.4.2
packaging==26.2
pluggy==1.6.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyproject_hooks==1.2.0
pyserial==3.5
pytest==9.1.0
python-dotenv==1.2.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
readme_renderer==45.0
-e git+https://github.com/SammySuliman/ReducedGridSearchCV.git@2527cc47f83deae9cc5e483ef96d68fe8c6aa310#egg=reduced_grid_search_cv
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
scikit-learn==1.9.0
scipy==1.17.1
sounddevice==0.5.5
starlette==1.3.1
threadpoolctl==3.6.0
twine==6.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.49.0
watchfiles==1.2.0
websockets==16.0
